<a href="https://colab.research.google.com/github/kimbetty/Python_pre/blob/dream/01_%EC%B6%9C%EB%A0%A5___format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Format

In [3]:
s='A is {}'
s.format('apple')

'A is apple'

In [6]:
info_1 ='학교: {}, 학번:{}, 이름:{}'
p=info_1.format('인천고','20101', '차은우' )
print(p)

학교: 인천고, 학번:20101, 이름:차은우

In [12]:
info_2 ='학교: %s, 학번:%d, 이름:%s, 평균:%2.2f'
a=info_2%('인천고',20101, '차은우', 90.1 )
print(a)

학교: 인천고, 학번:20101, 이름:차은우, 평균:90.10

In [14]:
a = '%s %d 개 가격은 %.2f 달라'
b = a %('햄버거', 2, 4.0*2)
print(b)

햄버거 2 개 가격은 8.00 달라