<a href="https://colab.research.google.com/github/kimbetty/Python_pre/blob/dream/02_DataType_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**[학습목표]**
---
1. data type : tuple, dictionary 이해
2. 연산자와 변수의 사용
---

# 1.연산

1.1 문자열의 연산

In [7]:
 name = '호정'
 print(name+'안녕')

호정안녕

In [8]:
num = 2000
print(num+'원')# 오류 발생

TypeError: ignored

1.2. 사칙연산

In [10]:
a=2
b=3
print('a/b =', a/b) # 나누기
print('a//b =', a//b) #몫
print('a**b =', a**b) #거듭제곱
print('a%b =', a%b) # 나머지

a/b = 0.6666666666666666
a//b = 0
a**b = 8
a%b = 2

# 2. Data Type

2.1.Date Type

In [0]:
print(type(a), type(b), type(name))

<class 'int'> <class 'float'> <class 'str'>

In [0]:
a=[1,2,3]  # list
b={'햄버거', '치킨'} # set
c=1,2,3 # tuple
d={1:'학번', 2:'이름', 3:'성적'}

In [15]:
type(a), type(b), type(c), type(d)

(list, set, tuple, dict)

In [17]:
a[0]='Good'
a

['Good', 2, 3]

In [18]:
c[0] ='Good'
c

TypeError: ignored

In [21]:
a=[2,4,6,8]
len(a)
# a[-1]

4

In [0]:
a=True
b=False
a&b, a|b, type(a)

(False, True, bool)

3.1.List 연습

In [3]:
a[0], a[1:], a[:2]

(1, [2, 3], [1, 2])

In [25]:
b='인천정보산업고등학교'
# len(b)
# b[:6]
b[-4:]

'고등학교'